vendor/
node_modules/
.git/
.env
.env.*
tests/
docker-compose*.yml
Dockerfile
.dockerignore
.gitignore
.github/
phpunit.xml
phpcs.xml
phpstan.neon
*.log
*.sqlite
.gitlab-ci.yml
phpunit.xml
README.md
docker/